span {
  display: inline-block;
  height: 24px;
  animation-name: skeleton;
  animation-duration: 1.3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  border-radius: 3px;
  min-width: 30px;

}

@keyframes skeleton {
  0% {
    background: #e5e5e5
  }

  40% {
    background: #eaeaea
  }

  60% {
    background: #e5e5e5
  }

  100% {
    background: #e5e5e5
  }
}
