<nav>
  <h1>AdminTool</h1>
  <a routerLink="/dashboard" [routerLinkActive]="'active'"><i class="fa-solid fa-house"></i>Home</a>
  <h4>Features</h4>
  <a routerLink="/dashboard/files-updater"><i class="fa-solid fa-folder-open"></i>Files Updater</a>
  <a routerLink="/dashboard/bootstrap"><i class="fa-solid fa-arrows-rotate"></i>Bootstrap</a>
  <a routerLink="/dashboard/maintenance"><i class="fa-solid fa-screwdriver-wrench"></i>Maintenance</a>
  <a routerLink="/dashboard/news"><i class="fa-solid fa-newspaper"></i>News</a>
  <a routerLink="/dashboard/background"><i class="fa-solid fa-image"></i>Background</a>
  <a routerLink="/dashboard/stats"><i class="fa-solid fa-chart-simple"></i>Stats</a>

  <a routerLink="/dashboard/account" class="account"><i class="fa-solid fa-circle-user"></i>User</a>
</nav>
