# See http://help.github.com/ignore-files/ for more about ignoring files.

# Svelte
/client/build
/client/.svelte-kit
/client/package
/client/.env
/client/.env.*
/client/!.env.example
/client/vite.config.js.timestamp-*
/client/vite.config.ts.timestamp-*

# Express

# Project
/.env

# Node
node_modules
npm-debug.log

# Visual Studio Code
/.vscode
/.history

# System files
.DS_Store
Thumbs.db

# Others
_*.*
/.client
