/node_modules
/.vscode
/.svelte-kit
/env/.env
/sonar-cmd
/sonar-project.properties
/.scannerwork
/.sonarlint

/files/files-updater/*
/files/bootstraps/*
/files/backgrounds/*
/files/cache/*

/dist
/update

.DS_Store
env/.env_bkp
.env
