<app-modal-template [id]="id" [size]="'s'">
  <h2>You speak another language?</h2>
  <p>
    The EML AdminTool is currently available only in French and English.<br>
    However, we are thrilled to see that this project is reaching more and more people in different countries!<br>
    <br>
    Therefore, if you would like to help us translate the EML AdminTool, you can find the JSON files on our GitHub and a
    guide on how to submit your translation. If it is accepted, it will be included as a default option in a future
    version of the EML AdminTool!
  </p>
  <div class="actions">
    <a class="not-a" href="https://github.com/Electron-Minecraft-Launcher/EML-AdminTool-v2" target="_blank"><button class="primary">More...&nbsp;&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></button></a>
  </div>
</app-modal-template>
