<div *ngIf="type == 'INFO'" class="notification info">
  <i class="fa-solid fa-circle-info"></i><span [innerHtml]="content | html"></span>
</div>

<div *ngIf="type == 'SUCCESS'" class="notification success">
  <i class="fa-solid fa-circle-check"></i><span [innerHtml]="content | html"></span>
</div>

<div *ngIf="type == 'WARNING'" class="notification warning">
  <i class="fa-solid fa-circle-exclamation"></i><span [innerHtml]="content | html"></span>
</div>

<div *ngIf="type == 'ERROR'" class="notification error">
  <i class="fa-solid fa-circle-xmark"></i><span [innerHtml]="content | html"></span>
</div>
