@import url('../configuration-form-template/configuration-form-template.component.scss');

div.language {
  width: 500px;
  margin: 0 auto;

  button {
    display: inline-block;
    padding: 0;
    margin-bottom: 15px;

    &:hover img {
      filter: brightness(115%);
    }

    &:nth-of-type(1) {
      margin-right: 30px
    }

    &.selected {
      background: var(--primary-light-color);

      &:hover {
        background: var(--primary-light-color-hover);
      }
    }

    width: calc(50% - 15px);
    text-align: left;

    img {
      width: 80px;
      height: 40px;
      display: inline-block;
      vertical-align: middle;
      border-radius: 4px;
      margin-right: 20px;
      transition: all 0.3s ease;
    }

    p {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      font-weight: 600;
    }
  }

  p.center {
    margin-bottom: 0
  }
}

app-language-modal {
  position: absolute;
  top: -5px
}
