<app-progress [step]="1"></app-progress>

<div class="content">
  <h1></h1>
  <form (submit)="onSubmit()">
    <h2>Firstly, choose the language of your EML&nbsp;AdminTool:</h2>
    <p><b>This language will be applied for all users.</b></p>

  </form>
  <!-- <form (submit)="onSubmit()">
    <h2>Firstly, choose the name of your server:</h2>
    <p><b>This name will be the admin account username. So choose a strong password!</b></p>
    <input type="text" name="name" id="name" placeholder="Server name">
  </form> -->
</div>