<form (ngSubmit)="onSubmit()">
  <app-loading-splash [transparent]="true" id="login-loading-splash"></app-loading-splash>
  <h2 [innerHTML]="l.auth.login | html"></h2>
  <p>{{ env.name }} AdminTool</p>
  <input type="text" [placeholder]="l.main.username" [(ngModel)]="name" name="name">
  <input type="password" [placeholder]="l.main.password" [(ngModel)]="password" name="password">
  <button class="primary" [innerHTML]="l.auth.login| html"></button>
  <p class="center">
    <a class="small-link" routerLink="/register" [innerHTML]="l.auth.createAccount | html"></a>
  </p>
</form>
