div.config-slider {
  h2 {
    text-align: center;
    font-size: 32px;
    margin: 0 0 20px 0;
    transition: opacity 0.5s, display 0.5s;
  }

  h2+p {
    margin-bottom: 30px;
    text-align: center;
  }

  form {
    width: 750px;
    margin: 15vh auto 0 auto;
    transition: opacity 0.5s;
    position: relative;
    background-color: white;
    padding: 50px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.1);
  }

  button.primary {
    width: auto !important;
  }

  div.steps-actions {

    div.prev,
    div.next {
      display: inline-block;
      width: 50%;
    }

    div.next {
      text-align: right;

      button {
        display: inline-block;
      }
    }
  }
}