# # # # # # # # # # # # # # # # # # # # # # # # # # # #
#               DEVELOPMENT ENVIRONMENT               #
#                                                     #
# This file is used to run the application in a       #
# development environment.                            #
# It enables hot-reloading of the application, and    #
# gives an access to the database through phpMyAdmin. #
#                                                     #
# To run the application in a production environment, #
# you should use the docker-compose.prod.yml file     #
# with an existing Docker image.                      #
#                                                     #
# Warning:                                            #
#  - You may sometimes need to restart the container  #
#    when you create a new file.                      #
#  - You may need to delete and rebuild the "web"     #
#    container and image when you install a new       #
#    dependency or update dependencies.               #
# # # # # # # # # # # # # # # # # # # # # # # # # # # #

name: eml-admintool-dev

networks:
  network:

services:
  web:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile.dev
    restart: unless-stopped
    networks:
      - network
    environment:
      NODE_ENV: 'development'
    volumes:
      - ../.svelte-kit:/app/.svelte-kit
      - ../static:/app/static
      - ../node_modules/.prisma:/app/node_modules/.prisma
      - ../prisma:/app/prisma
      - ../src:/app/src
      - ../env:/app/env
      - ../LICENSE:/app/LICENSE
      - ../package.json:/app/package.json
      - ../svelte.config.js:/app/svelte.config.js
      - ../tsconfig.json:/app/tsconfig.json
      - ../vite.config.ts:/app/vite.config.ts
      - ../files:/app/files
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - '5173:5173'
    depends_on:
      - dbs
  dbs:
    image: postgres:17.7
    restart: unless-stopped
    networks:
      - network
    environment:
      POSTGRES_USER: eml
      POSTGRES_PASSWORD: eml
      POSTGRES_DB: eml_admintool
    volumes:
      - database:/var/lib/postgresql/data
    ports:
      - '5432:5432'
  upd:
    image: ghcr.io/electron-minecraft-launcher/eml-admintool-updater:latest
    networks:
      - network
    environment:
      - ENVIRONMENT=development
    volumes:
      - ../env:/app/env:ro
    depends_on:
      - web
  pga:
    image: dpage/pgadmin4
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admintool@eml.com
      PGADMIN_DEFAULT_PASSWORD: eml
    ports:
      - '5050:80'
    depends_on:
      - dbs

volumes:
  database:
