<form (ngSubmit)="onSubmit()">
  <app-loading-splash [transparent]="true" [id]="id"></app-loading-splash>
  <ng-content select="h2"></ng-content>
  <ng-content select="p"></ng-content>
  <ng-content select="div.actions"></ng-content>
  <div class="steps-actions">
    <div class="prev" *ngIf="prev" [ngStyle]="{'width': !next ? '100%' : ''}">
      <button type="button" class="secondary" (click)="onPrevious()"><i
          class="fa-solid fa-arrow-left"></i>&nbsp;&nbsp;<span [innerHTML]="l.main.prev | html"></span></button>
    </div>
    <div class="next" *ngIf="next" [ngStyle]="{'width': !prev ? '100%' : ''}">
      <button type="submit" class="primary" [disabled]="!cond"><span [innerHTML]="step < 3 ? l.main.next : l.main.finish | html"></span>&nbsp;&nbsp;<i
          class="fa-solid fa-arrow-right"></i></button>
    </div>
  </div>
</form>
