@import url('../configuration-form-template/configuration-form-template.component.scss');

div.flex {
  display: flex;
  flex-direction: row;

  input {
    flex-grow: calc(100% - 50px);
  }

  button.secondary {
    margin-top: 0;
    margin-left: 20px;
    white-space: nowrap
  }
}

div.rel-progress {
  width: 130px;
  border-radius: 50rem;
  background-color: #f3f3f3;
  display: inline-block;
  height: 7px;
  margin-top: 13px;
}

div.rel-progress-in {
  border-radius: 50rem;
  height: 7px;
  transition: all 0.2s;

  &.progress-0 {
    width: 10%;
    background: #8b0000
  }

  &.progress-1 {
    width: 25%;
    background: #ad2c0b
  }

  &.progress-2 {
    width: 50%;
    background: #d86608
  }

  &.progress-3 {
    width: 75%;
    background: #71bd0d
  }

  &.progress-4 {
    width: 100%;
    background: #04921c
  }
}

span.rel {
  display: inline-block;
  margin-left: 15px;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px
}
